<div class="mt-3">
    <h4>Ordenar</h4>
    <div><a href="#">mais recentes</a></div>
    <div><a href="#">maior popularidade</a></div>
    <div><a href="#">menor preço</a></div>
    <div><a href="#">maior preço</a></div>
</div>
<div class="mt-3">
    <h4>Categorias</h4>
    <div><a href="#">teste</a></div>
    <div><a href="#">teste</a></div>
    <div><a href="#">teste</a></div>
</div>
<div class="mt-3">
    <h4>Cores</h4>
    <div><a href="#">teste</a></div>
    <div><a href="#">teste</a></div>
    <div><a href="#">teste</a></div>
</div>